
---
layout: ""
page_title: "Provider: IPAM"
description: |-
  The IPAM provider manages a list of IP addresses and can assign IP addresses to unique IDs (e.g., hostnames).
---

# IPAM Provider

The IPAM provider manages a list of IP addresses and can assign IP addresses to unique IDs (e.g., hostnames).

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}