
---
layout: ""
page_title: "Provider: IPAM"
description: |-
  The IPAM provider manages pools of IP addresses and can allocate IP addresses to hosts.
---

# IPAM Provider

The IPAM provider manages pools of IP addresses and can allocate IP addresses to hosts.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}